// Default style
*{
	@include border-box;
}

body{
	// color: #dadada;
	// background-color: #202020;
	// font-family: 'Druk-Wide';
	font-family: sans-serif;
}

body, h1, h2, h3, h4, h5, h6, p, section, div, nav, ul, li, button, figure{
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6, p{
	font-weight: 100;
}