@font-face {
	font-family: 'Druk-Wide';
	font-display: auto;
	src:url('../fonts/DrukWide-Medium.woff2') format('woff2'),
		url('../fonts/DrukWide-Medium.woff') format('woff'),
		url('../fonts/DrukWide-Medium.ttf') format('truetype');
}