#home-wrapper{
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	height: 100%;

	.fixed-logo{
		position: fixed;
		top: 0; left: 0;
		width: 100%;
		height: 100%;

		img{
			position: absolute;
			margin: auto;
			top: 0; bottom: 0;
			left: 0; right: 0;

			@media (max-width: 767px){
				width: 66px;
			}
		}
	}

	.grid-wrapper{
		position: relative;
		margin: 0 auto;
		width: 100%;
		max-width: 1400px;
		padding: 0 10px;

		@media (min-width: 768px){
			padding: 0;
		}

		.row{
			position: relative;
			width: 100%;
			margin-bottom: 200px;

			&:last-child{
				margin-bottom: 100vh;
			}

			@media (max-width: 767px){
				padding-bottom: 20px;
				background-color: #fff;
			}

			&.left{
				.thumnbnail-container{
					text-align: right;
				}

				h1{
					right: -20%;
				}

				&.mid{
					.thumbnail-container{
						margin-left: 20%;
					}
				}
			}

			&.right{
				text-align: right;

				h1{
					text-align: left;
					left: -20%;
				}

				&.mid{
					.thumbnail-container{
						@media (min-width: 768px){
							margin-right: 20%;
						}
					}
				}
			}
		}

		.thumbnail-container{
			position: relative;
			display: inline-block;

			&.lg{
				@media (min-width: 768px){
					width: 80%;
				}
				@media (min-width: 1025px){
					width: 70%;
				}
			}
			&.md{
				@media (min-width: 768px){
					width: 65%;
				}
				@media (min-width: 1025px){
					width: 45%;
				}
			}
			&.sm{
				@media (min-width: 768px){
					width: 40%;
				}
				@media (min-width: 1025px){
					width: 20%;
				}
			}

			.project-data{
				position: relative;
				width: 100%;
				padding: 30px 0 30px;
				text-align: left;
				background-color: #fff;

				.area, .client{
					position: relative;
					display: inline-block;
					width: 50%;
				}

				.client{
					text-align: right;
				}
			}

			img{
				position: relative;
				width: 100%;
			}
		}
	}
}


// Mbrt site borrowed style
	.grid__text-block{
		position: relative;
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
		padding: 120px 40px 125px;
		background-color: #fff;

		@media (min-width: 768px){
			padding: 200px 80px 250px;
		}

		.demititle{
			position: relative;
			margin-bottom: 15px;
			text-transform: uppercase;

			@media (min-width: 768px){
				margin-bottom: 5px;
			}
		}

		.demititle__line{
			position: relative;
			display: inline-block;
			top: -5px;
			width: 50px;
			height: 1px;
			margin-right: 15px;
			background-color: #afafaf;
		}

		.demititle__caption{
			position: relative;
			display: inline-block;
			font-size: .8em;

			@media (min-width: 768px){
				font-size: .6em;
			}
		}

		.hero-text{
			width: 100%;
			font-size: 1.4em;
			line-height: 1.2em;
			color: #97979b;

			@media (min-width: 768px){
				width: 80%;
			}
		}
	}





