extends templates/layout.jade

block content
	#home-wrapper
		.fixed-logo
			img(src="img/mbrt_logo.png", alt="mbrt studio")

		.grid-wrapper
			
			.row.left
				.thumbnail-container
					img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://via.placeholder.com/500x300", alt="")
					h1 AR | Gatorade
			
			.row.right
				.thumbnail-container
					img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://via.placeholder.com/300x700", alt="")
					h1 AR | Gatorade

			.row.left
				.thumbnail-container
					img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://via.placeholder.com/600x500", alt="")
					h1 AR | Gatorade
			
			.row.right
				.thumbnail-container
					img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://via.placeholder.com/500x500", alt="")
					h1 AR | Gatorade