extends templates/layout.jade

block content
	#home-wrapper
		.fixed-logo
			img(src="img/mbrt_logo.png", alt="mbrt studio")

		.grid-wrapper
			
			.row.left
				.thumbnail-container.lg
					img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/00.jpg", alt="")
					h1 Nike AirMax | 3D Modeling
			
			.row.right
				.thumbnail-container.md
					img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/01.jpg", alt="")
					h1 Humans | Vray Rendering

			.row.left
				.thumbnail-container.md
					img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/02.jpg", alt="")
					h1 Clothing | 3D Modeling
			
			.row.right.mid
				.thumbnail-container.md
					img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/03.jpg", alt="")
					h1 Clothing | Texture Mapping

			.row.left
				.thumbnail-container.md
					img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/04.jpg", alt="")
					h1 Objects | 3D Modeling
			
			.row.right
				.thumbnail-container.md
					img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/05.jpg", alt="")
					h1 Nike AirMax | Lighting & Rendering

			.row.left
				.thumbnail-container.md
					img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/06.jpg", alt="")
					h1 Objects | 3D Modeling
			
			.row.right.mid
				.thumbnail-container.md
					img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/07.jpg", alt="")
					h1 Objects | 3D Modeling