extends templates/layout.jade

block content
	#home-wrapper
		.fixed-logo
			img(src="img/mbrt_logo.png", alt="mbrt studio")

		div(class="grid__text-block aboutBody")
			div(class="demititle")
				figure(class="demititle__line")
				h1(class="demititle__caption") Augmented Reality

			h2(class="hero-text") We are an independent design studio formed by multi-talented designers and developers crafting digital experiences. AR is part of our dna, here you will discover some projects developed by us.

		.grid-wrapper
			.row.left
				.thumbnail-container.lg
					.project-data
						h3.area 3D Modeling
						p.client Nike AirMax

					img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/00.jpg", alt="")
			
			.row.right
				.thumbnail-container.md
					.project-data
						h3.area Vray Rendering
						p.client Humans

					img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/01.jpg", alt="")

			.row.left
				.thumbnail-container.md
					.project-data
						h3.area 3D Modeling
						p.client Clothing

					img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/02.jpg", alt="")
			
			.row.right.mid
				.thumbnail-container.md
					.project-data
						h3.area Texture Mapping
						p.client Clothing

					img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/03.jpg", alt="")

			.row.left
				.thumbnail-container.md
					.project-data
						h3.area 3D Modeling
						p.client Objects

					img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/04.jpg", alt="")
			
			.row.right
				.thumbnail-container.md
					.project-data
						h3.area Lighting & Rendering
						p.client Nike AirMax

					img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/05.jpg", alt="")

			.row.left
				.thumbnail-container.md
					.project-data
						h3.area 3D Modeling
						p.client Objects

					img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/06.jpg", alt="")
			
			.row.right.mid
				.thumbnail-container.md
					.project-data
						h3.area 3D Modeling
						p.client Objects

					img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/07.jpg", alt="")