doctype html
html(class='no-js')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible' content='IE=Edge,chrome=1')
		meta(name='viewport', content='shrink-to-fit=no, initial-scale=1.0, minimum-scale=1, width=device-width, height=device-height')
		title Mbrt AR | Augmented Reality

		//- metatags
		meta(name='description', content='We are an independent design studio formed by multi-talented designers and developers crafting digital experiences. AR is part of our dna, here you will discover some projects developed by us.')
		meta(name='subject', content='Mbrt | Augmented Reality')
		meta(name='keywords', content='Mandelbrot, Mbrt, Brands, Branding, Studio, Estudio, Mexico, Brand, Management, Consultants, Advice, Two, Craft, Web, Design, Development, Print, Duo, Visual Systems, Visual Language, Diseño, Marca, Consultoría, AR, Realidad, Aumentada, Augmented, Reality')
		meta(name='author', content='Mandelbrot Studio')
		link(rel="icon" type="image/png" href="favicon.png")

		meta(property="og:title" content="Branding & Digital Craft Duo")
		meta(property="og:site_name" content="Mandelbrot Studio")
		meta(property="og:url" content="http://ar.mandelbrot.mx/")
		meta(property="og:description" content="We are an independent design studio formed by multi-talented designers and developers crafting digital experiences. AR is part of our dna, here you will discover some projects developed by us.")

		//- stylesheets
		link(rel='stylesheet', href='css/app.css')

	body
		//- Header
		include ../_modules/_header-nav.jade

		//- content
		#main-wrapper
			block content

		//- scripts
		script(src='js/app.js')